{% extends 'base.html' %}

{% load static %}

{% block content %}
<h1 class="cl01">■　1.ABStextファイルをCSVに変換</h1>
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <table>
    		<tr>
    			<th>textファイル：</th>
    			<td><input type="file" name="testfile"></td>
    		</tr>
    		<tr>
    			<th>画像ファイルのパス：</th>
    			<td><input type="pass" name="pass" required id="pass" /></td>
    		</tr>
    </table>


    <button type="submit">アップロード</button>
</form>
{% if uploaded_file_url %}
    <p class="dw-text">編集後ファイル<a href="{{ csvlink }}" class="btn01">ダウンロード</a></p>
{% endif %}

<div class="info">
<p>・ABSからダウンロードしたテキストファイルを選択し</p>
<p>・本サーバー用の画像のパスを「画像ファイルのパス：」へ入力する<br>
　<span>例：/theme/ababai/images/abs/interview/uploads/</span></p>
</div>

<p class="btn"><a href="{% url 'index' %}">戻る</a></p>

{% endblock %}